@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#f4d04e] grid content-center h-screen;
}

@font-face {
  font-family: 'FigTree';
  src: url('./assets/fonts/static/Figtree-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FigTree';
  src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
